img.logo {
    width: 300px;
    height: auto;
}

.card-container {
    width: 1500 px;
    margin: auto;
    margin-top: 30px;
}

.card {
    float: left;
    width: 350px;
    margin: auto;
}

.frame {
    width: 330px;
    margin: 15px;
    background: black;
    color: green;
}

#char-pic {
    width: 300px;
    margin: 14px;
    margin-top: 0px;
}

#character-name{
    text-align: center;
}

main{
    width: 100%;
    padding: 2rem;
}

aside{
    padding: 0;
}

.info-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#mainCharList {
    float: left;
    position: relative;
}
