img.logo {
    width: 300px;
    height: auto;
}

.container {
    width: 1500 px;
    margin: auto;
    margin-top: 30px;
}

.card {
    float: left;
    width: 350px;
}

.frame {
    width: 330px;
    margin: 15px;
    background: black;
    color: green;
}

#char-pic {
    width: 300px;
    margin: auto;
}

#character-name{
    text-align: center;
}
